 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

    body {
      font-family: "Noto Sans Thai", sans-serif;
    }

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    .main {
      min-height: 100vh;
      width: 100%;
      overflow: hidden;
      background-color: #f9f9f9;
    }

    nav {
      background-color: white;

    }

    #sidebar {
      max-width: 264px;
      min-width: 264px;
      transition: all 0.35s ease-in-out;
      border-right: 1px solid #ddd;
      background: #fff;
      display: flex;
      flex-direction: column;
    }

    #sidebar.collapsed {
      margin-left: -264px;
    }

    .toggle-btn {
      background-color: transparent;
      cursor: pointer;
      border: 0;
    }

    .toggle-btn i {
      font-size: 1.7rem;
      color: #737373;
    }

    .navbar {
      padding: 1.15rem 1.5rem;
    }

    .sidebar-nav {
      flex: 1 1 auto;
    }

    .sidebar-logo {
      padding: 1.15rem 1.5rem;
      text-align: center;
    }

    .sidebar-logo a {
      color: #333;
      font-weight: 800;
      font-size: 1.8rem;
      letter-spacing: 1.5px;
    }

    .sidebar-header {
      color: #333;
      font-size: .95rem;
      font-weight: 500;
      padding: 1.5rem 1.5rem 0.375rem;
    }

    a.sidebar-link {
      padding: 1.2rem 1.625rem;
      color: #737373;
      position: relative;
      border-left: 4px solid transparent;
      transition: all 0.35s;
      font-size: 0.85rem;
      font-weight: 500;
      display: block;
    }

    a.sidebar-link:hover {
      color: #3b90f2;
      background: #e3f2fd;
      border-left-color: #3b90f2;
    }

    a.sidebar-logout {
      padding: 1.2rem 1.625rem;
      color: #737373;
      position: relative;
      border-left: 4px solid transparent;
      transition: all 0.35s;
      font-size: 0.85rem;
      font-weight: 500;
      display: block;
    }

    a.sidebar-logout:hover {
      color: #f23b3b;
      border-left-color: #f23b3b;
      background: #fde3e3;
    }

    a.sidebar-child {
      font-size: 0.75rem;
      padding-left: 3rem;
      /* background-color: #f8f8f8ff; */
    }

    .sidebar-link[data-bs-toggle="collapse"]::after {
      border: solid;
      border-width: 0 0.075rem 0.075rem 0;
      content: "";
      display: inline-block;
      padding: 2px;
      position: absolute;
      right: 1.5rem;
      top: 1.4rem;
      transform: rotate(-135deg);
      transition: all 0.2s ease-out;
    }

    .sidebar-link[data-bs-toggle="collapse"].collapse::after {
      transform: rotate(45deg);
      transition: all 0.2s ease-out;
    }

    label {
      font-size: 0.85rem;
      font-weight: 500;
    }

    .select {
      padding: 10px;
      font-size: 0.85rem;
    }

    .input {
      padding: 10px 10px;
      font-size: 0.85rem;
    }

    h4 {
      padding: 15px;
    }

    table {
      max-width: 100%;
      width: 100%;
    }

    table thead tr th {
      font-size: 0.85rem;
      font-weight: 600;
      padding: 15px 0px 15px 20px;
      vertical-align: middle;
      border-bottom: 1px solid #d3d3d3;
    }

    table tbody tr {
      transition: all 0.35s ease-in-out;
    }

    table tbody tr:hover {
      background-color: #ebebebff;
    }

    table tbody tr td {
      vertical-align: middle;
      font-size: 0.85rem;
      font-weight: 400;
      padding: 12px 0px 12px 20px;
    }